* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    height: 72px;
}

.nav {
    height: 100%;
    width: 100%;
    position: relative;
}


/* Mobile nav */

.nav__bars-btn {
    width: 28px;
    height: 28px;
    color: #000;
    margin-left: 8px;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
    z-index: 1;
}

.nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    max-width: 100%;
    background-color: #000;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
    z-index: 2;
}

.nav__mobile-list {
    margin-top: 50px;
    list-style-type: none;
}

.nav__mobile-link {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 8px 0;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
}

.nav__mobile-link:hover {
    color: #a1a1a1;
}

.nav__mobile-close {
    width: 23px;
    height: 28px;
    color: #fff;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

.nav__input {
    display: none;
}

.nav-mobile-input {
    margin-left: 100px;
}

.nav__input:checked~.nav__overlay {
    display: block;
}

.nav__input:checked~.nav__mobile {
    transform: translateX(0%);
    opacity: 1;
}


/* section 1 */

.article_container {
    text-align: center;
    margin: 60px 10%;
}

.article_container h3 {
    font-size: 60px;
    width: 795px;
    margin: 0 auto 20px;
}

.article_container p {
    width: 750px;
    margin: 0 auto;
}

.image_container {
    background: url(img/pexels-photo-6171394.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 89%;
    padding-top: 50%;
    position: relative;
    z-index: -1;
}

.slogan_container {
    width: 798px;
    height: 250px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slogan_container .slogan_child {
    width: 250px;
    height: 250px;
    background-color: #fff;
    color: black;
    text-align: center;
}

.slogan_container .item2 {
    background-color: #d5dee5;
}

.slogan_child i {
    padding-top: 40px;
    font-size: 50px;
}

.slogan_child h4 {
    font-size: 24px;
    padding: 20px 0;
}

.slogan_child p {
    width: 80%;
    margin: 0 auto;
}

.block_2 {
    height: 516px;
}

.block_2_container_child {
    height: 100%;
    margin-top: -79px;
    display: flex;
}

.block_2_item img {
    width: 327px;
    height: 298px;
    background-size: cover;
    object-fit: cover;
}

.block_2_container_child .item2 {
    align-self: center;
    text-align: center;
}

.block_2_container_child .item2 h2 {
    font-size: 48px;
    font-weight: 700;
}

.block_2_container_child .item2 p {
    font-size: 16px;
    margin-top: 30px;
}

.block_2_container_child .item3 {
    align-self: flex-end;
}

.container_block_3 {
    width: 940px;
    height: 1108px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
}

.block_3_right {
    width: 50%;
    box-sizing: border-box;
}

.block_3_right_item {
    padding: 30px;
}

.block_3_right_item_child h5 {
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0 30px;
}

.block_3_right_item_child p {
    font-size: 16px;
    color: #999999;
    padding-bottom: 30px;
}

.block_3_right_item_child a {
    color: #9eafbf;
    border: 2px solid #9eafbf;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 0;
    border-radius: 25px;
    padding: 10px 30px;
    text-decoration: none;
}

.block_3_right_item_child a:hover {
    background-color: #9eafbf;
    color: #fff;
}

.block_3_right_item_child i {
    font-size: 64px;
    color: #9eafbf;
}

.block_3_left {
    position: relative;
    width: 50%;
}

.block_3_left_container {
    width: 470px;
    height: 470px;
    background-color: #9eafbf;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    border-radius: 50%;
}

.block_3_left_child {
    padding: 30px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.block_3_left_child h2 {
    color: #fff;
    font-size: 48px;
    text-align: center;
}

.block_3_left_child h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 30px 33px 0;
}

.block_4 {
    background: url(img/pexels-photo-5646794.jpeg);
    height: 657px;
    background-position: 100% 76.05%;
    background-size: cover;
    text-align: center;
}

.block_4_wrap {
    width: 940px;
    margin: 0 auto;
}

.block_4_wrap h2 {
    color: #fff;
    padding: 60px 13px 0;
    font-size: 48px;
    font-weight: 700;
}

.block_4_container {
    width: 570px;
    margin: 35px auto 60px;
}

.block_4_item a {
    color: #fff;
    background-color: #9eafbf;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 50px;
    width: 100%;
    height: 45.6px;
    line-height: 25.6px;
    text-align: left;
    text-decoration: none;
    display: flex;
}

.text_content_container {
    min-height: 188px;
}

.text_content_child {
    padding: 30px;
    color: #fff;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

.block_4_container .item2 .text_content_container,
.block_4_container .item3 .text_content_container {
    display: none;
}

.block_4_container .item2 a,
.block_4_container .item3 a {
    margin-top: 30px;
    background-color: #fff;
    color: #000;
}

.block_5_container {
    margin-top: -90px;
    display: flex;
    height: 595px;
}

.block_5_container img {
    width: 266px;
    height: 291px;
    background-size: cover;
    object-fit: cover;
}

.block_5_container .item2 {
    align-self: center;
    padding: 30px;
    text-align: center;
}

.block_5_container .item2 h2 {
    font-size: 3rem;
    font-weight: 700;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.block_5_container .item2 p {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
}

.block_5_container .item2 a {
    color: #9eafbf;
    border: 2px solid #9eafbf;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 10px 30px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

.block_5_container .item2 a:hover {
    background-color: #9eafbf;
    color: #fff;
}

.block_5_container .item3 {
    align-self: flex-end;
}

.block_6 {
    background-color: #e5e5e5;
}

.block_6_container {
    width: 940px;
    margin: 0 auto;
    min-height: 660px;
    display: flex;
    padding: 60px 0;
}

.block_6_item_left {
    width: 62%;
}

.block_6_item_left_top {
    display: flex;
}

.block_6_item_left_top_left {
    padding: 10px;
    width: 288px;
}

.block_6_item_left_top_left_container {
    padding: 30px;
}

.block_6_item_left_top_left_container h2 {
    font-size: 3rem;
    font-weight: 700;
}

.block_6_item_left_top_left_container p {
    margin-top: 20px;
    font-size: 1rem;
    line-height: 1.6;
}

.block_6_item_left_top_right img {
    padding: 10px;
    height: 280px;
    width: 288px;
}

.block_6_item_left_bottom img {
    height: 280px;
    width: 576px;
    padding: 10px;
}

.block_6_item_right {
    padding: 10px;
    width: 384px;
    height: 560px;
}

.block_7 {
    height: 675px;
    display: flex;
}

.block_7_container {
    width: 800px;
    height: 555px;
    margin: 60px auto;
    text-align: center;
}

.block_7_img {
    height: 250px;
    width: 250px;
    background-size: cover;
    background-image: url(img/pexelsphoto412840.jpeg);
    border-radius: 50%;
    margin: 0 auto;
    background-position: 50% 50%;
}

.block_7_container p {
    font-size: 20px;
    line-height: 36px;
    width: 680px;
    margin: 20px auto 0;
}

.block_7_container h5 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    margin-top: 20px;
}

.block_7_container h6 {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    margin-top: 20px;
    font-family: Roboto, sans-serif;
    letter-spacing: 4px;
}

.block_8 {
    height: 809px;
    background-color: #9eafbf;
}

.block_8_container {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block_8_container h2 {
    margin-top: 63px;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}

.block_8_container>p {
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    width: 616px;
    line-height: 1.6;
    text-align: center;
}

.block_8_container>p span {
    font-weight: 700;
}

.contact_container {
    width: 796px;
    height: 470px;
    margin: 40px auto 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.contact_item {
    width: 378px;
    height: 215px;
    background-color: #fff;
    text-align: center;
}

.contact_item_wrap {
    padding: 30px;
    height: 100%;
}

.contact_item_wrap i {
    color: #9eafbf;
    font-size: 48px;
}

.contact_item_wrap h5 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
}

.contact_item_wrap p {
    color: #111111;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;
    margin-top: 19px;
}

.contact_item_wrap a {
    color: #9eafbf;
    text-decoration-color: #9eafbf;
}

footer {
    height: 240px;
    background-color: #333333;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.footer_container {
    height: 45px;
    width: 440px;
    margin: 49px auto;
}

.about_desige {
    width: 419px;
    margin: 39px auto;
    display: flex;
    justify-content: space-between;
}

.about_desige a {
    font-size: 1rem;
    color: #d5dee5;
}

@media (max-width: 1023px) {}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}