* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    height: 72px;
    text-align: center;
}

.nav {
    height: 100%;
    width: 100%;
    position: relative;
}


/* Mobile nav */

.nav__bars-btn {
    width: 28px;
    height: 28px;
    color: #000;
    margin-left: 8px;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
    z-index: 1;
}

.nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    max-width: 100%;
    background-color: #000;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
    z-index: 2;
}

.nav__mobile-list {
    margin-top: 50px;
    list-style-type: none;
}

.nav__mobile-link {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 8px 0;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
}

.nav__mobile-link:hover {
    color: #a1a1a1;
}

.nav__mobile-close {
    width: 23px;
    height: 28px;
    color: #fff;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

.nav__input {
    display: none;
}

.nav-mobile-input {
    margin-left: 100px;
}

.nav__input:checked~.nav__overlay {
    display: block;
}

.nav__input:checked~.nav__mobile {
    transform: translateX(0%);
    opacity: 1;
}


/* section 1 */

.article_container {
    text-align: center;
    margin: 60px 10%;
}

.article_container h3 {
    font-size: 60px;
    width: 795px;
    margin: 0 auto 20px;
}

.article_container p {
    width: 750px;
    margin: 0 auto;
}

.image_container {
    background: url(img/pexels-photo-6171394.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 89%;
    padding-top: 50%;
    position: relative;
    z-index: -1;
}

.slogan_container {
    width: 798px;
    height: 250px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slogan_container .slogan_child {
    width: 250px;
    height: 250px;
    background-color: #fff;
    color: black;
    text-align: center;
}

.slogan_container .item2 {
    background-color: #d5dee5;
}

.slogan_child i {
    padding-top: 40px;
    font-size: 50px;
}

.slogan_child h4 {
    font-size: 24px;
    padding: 20px 0;
}

.slogan_child p {
    width: 80%;
    margin: 0 auto;
}

.block_2 {
    height: 516px;
}

.block_2_container_child {
    height: 100%;
    margin-top: -79px;
    display: flex;
}

.block_2_item img {
    width: 327px;
    height: 298px;
    background-size: cover;
    object-fit: cover;
}

.block_2_container_child .item2 {
    align-self: center;
    text-align: center;
}

.block_2_container_child .item2 h2 {
    font-size: 48px;
    font-weight: 700;
}

.block_2_container_child .item2 p {
    font-size: 16px;
    margin-top: 30px;
}

.block_2_container_child .item3 {
    align-self: flex-end;
}

.container_block_3 {
    width: 940px;
    height: 1108px;
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
}

.block_3_right {
    width: 50%;
    box-sizing: border-box;
}

.block_3_right_item {
    padding: 30px;
}

.block_3_right_item_child h5 {
    font-size: 24px;
    font-weight: 700;
    padding: 20px 0 30px;
}

.block_3_right_item_child p {
    font-size: 16px;
    color: #999999;
    padding-bottom: 30px;
}

.block_3_right_item_child a {
    color: #9eafbf;
    border: 2px solid #9eafbf;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 0;
    border-radius: 25px;
    padding: 10px 30px;
    text-decoration: none;
}

.block_3_right_item_child a:hover {
    background-color: #9eafbf;
    color: #fff;
}

.block_3_right_item_child i {
    font-size: 64px;
    color: #9eafbf;
}

.block_3_left {
    position: relative;
    width: 50%;
}

.block_3_left_container {
    width: 470px;
    height: 470px;
    background-color: #9eafbf;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    border-radius: 50%;
}

.block_3_left_child {
    padding: 30px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.block_3_left_child h2 {
    color: #fff;
    font-size: 48px;
    text-align: center;
}

.block_3_left_child h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 30px 33px 0;
}

.block_4_wrap {
    width: 940px;
}

@media (max-width: 1023px) {}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}